.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1rem;
    align-items: center;
    background-color: var(--branco);
  
}

.cabecalho__tempo {
    font-weight: 400;
    color: var(--cinza-destaque);
}

.cabecalho__icones {
    width: 66.69px;
    height: auto;
}

@media screen and (min-width: 1280px) {
    .cabecalho {display: none;}
}